.register{
  text-align: left;
  width: 350px;
  height: 300px;
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  margin: 20px;
  z-index: 1;
  position: relative;
}

.login{
  text-align: left;
  width: 350px;
  height: 300px;
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  margin: 20px;
  z-index: 1;
  position: relative;
}
#name {
  width: 150px;
  font-size: 1rem;
  margin-left: 54px;
}

#password {
  width: 150px;
  font-size: 1rem;
  margin-left: 20px;
}

#name1 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.75rem;
}
#submit {
  font-size: 1.5rem;
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid lightblue;
  background-color: transparent;
  border-radius: 5px;
}

#reglogin {
  border: 1px solid lightblue;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  font-weight: 400;
  margin-left: 13%;
}

.loginb {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background-image: url('../images/travelbuddy.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

#fname {
  width: 150px;
  font-size: 1rem;
  margin-left: 22.8%;
}

#lname {
  width: 150px;
  font-size: 1rem;
  margin-left: 23.5%;
}

#regemail{
  width: 150px;
  font-size: 1rem;
  margin-left: 35.5%;
}

#regpw {
  width: 150px;
  font-size: 1rem;
  margin-left: 25.5%;
}

#pwconfirm {
  width: 150px;
  font-size: 1rem;
  margin-left: 1%;

}
