html {

  position: absolute;
  height: 100%;
  display: table;
  width: 100%;
}

body {
  display: table-cell;
  background-image: url('../images/cloudbackground.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.navbar {
  background-color: #fefefe;
  height: 86px;
  vertical-align: top;
  position: absolute;
  top: 2px;
  width: 100%;
}

.maincontent {
  position: relative;
  top: 115px;
  margin-left: 20px;
  padding-bottom: 25%;
  vertical-align: top;
}

#travelbrand {
  position: relative;
  left: 60%;
  top: -75px;
}

.links {
  position: relative;
  vertical-align: top;
  top: 25px;
  text-align: right;
  margin-right: 15px;
}

#topa {
  text-decoration: none;
  color: black;
  margin-right: 10px;
  margin-left: 10px;
}

.brand {
  display: inline-block;
  text-align: left;
  position: absolute;
  left: 0%;
}

.atrip {
  position: relative;
  border: 5px solid lightblue;
  margin: 20px;
  padding-left: 15px;
  box-sizing: border-box;
}

.tripinfo {
  position: relative;
  border: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  padding-bottom: 15px;
}

.desarea {
  position: relative;
  left: 2%;
  vertical-align: top;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  display: inline-block;
  padding-bottom: 20px;
}

.tripdetail {
  position: relative;
  display: inline-block;
}

#tname {
  color: #1E90FF;
  text-decoration-color: #1E90FF;
}
