<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'beltapp/css/style.css' %}">
  </head>
  <body class="loginb">

    <h4 class="messages">
      {% for message in messages %}
      <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
    </h4>

    <div class="login">
      <h1>The Travel Buddy</h1>
      <h3>Log In</h3>
      <form action="/exists" method="POST">
        {% csrf_token %}
        <p>
          <label for email="email" id="name1">Email:</label>
          <input type="text" id="name" name="email" placeholder="Email"></p>
        <p>
          <label for password="password" id="name1">Password:</label>
          <input type="password" id="password" name="password" placeholder="Password"></p>
        <p>
          <input type="submit" id="submit" name="submit" value="Log In"></p>
      </form>
        <strong style="font-size:1.5rem; margin-left: 15.5%;"> ----OR----</strong>
        <div style="margin-top:13%;">
          <h3><a id="reglogin" href="/register">Register</a></h3>
        </div>
    </div>

  </body>
</html>
