<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/logout">Logout</a>

    Hello, {{request.session.first_name}}!

    <h4>Your Trip Schedules:</h4>
    <table>
      <thead>
        <tr>
          <th>Destination</th>
          <th>Travel Start Date</th>
          <th>Travel End Date</th>
          <th>Plan</th>
        </tr>
      </thead>
      <tbody>
    {% for destination in destinations %}
        <tr>
          <td><a href="destination/{{destination.id}}">{{destination.name}}</a></td>
          <td>{{destination.start_date}}</td>
          <td>{{destination.end_date}}</td>
          <td>{{destination.plan}}</td>
        </tr>
    {% endfor %}
    {% for trip in joined_trips %}
      <tr>
        <td><a href="destination/{{trip.id}}">{{trip.name}}</a></td>
        <td>{{trip.start_date}}</td>
        <td>{{trip.end_date}}</td>
        <td>{{trip.plan}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

    <h4>Other User's Travel Plans</h4>
    <table>
      <thead>
          <tr>
            <th>Name</th>
            <th>Destination</th>
            <th>Travel Start Date</th>
            <th>Travel End Date</th>
            <th>Do You Want to Join?</th>
          </tr>
      </thead>
      <tbody>
    {% for plan in plans %}
        <tr>
          <td>{{plan.user_id.first_name}} {{plan.user_id.last_name}}</td>
          <td><a href="destination/{{plan.id}}">{{plan.name}}</a></td>
          <td>{{plan.start_date}}</td>
          <td>{{plan.end_date}}</td>
          <td><a href ="/travels/{{plan.id}}/join">Join</a></td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
  <p>
    <a href="/add">Add Travel Plan!</a></p>





  </body>
</html>
