<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'beltapp/css/travels.css' %}">
  </head>
  <body>
    <div class="navbar">
      <div class="brand">
        <img id="travelpic" src="../../static/beltapp/images/travelbuddypic.jpg">
        <h2 id="travelbrand">The Travel Buddy</h2>
      </div>
      <div class="links">
        <a id="topa" href="/add">Add Travel Plan</a> <b> | </b>
        <a id="topa" href="/portfolio/{{current_user.id}}">My Profile</a> <b> | </b>
        <a id="topa" href="/logout">Logout</a>
      </div>

    </div>


<div class="maincontent">
  <h2>Travel Plans You Have Not Joined</h2>
  {% for plan in plans %}
    <div class="atrip">
      <div class="tripdetail">
        <h4>Host: <a id="tname" href="/portfolio/{{plan.user_id.id}}"><i>{{plan.user_id.first_name}} {{plan.user_id.last_name}}</i></a></h4>
        <h3>Trip Name: <a id="tname" href="/destination/{{plan.id}}">{{plan.name}}</a></h3>
        <p><b>Start Date: </b>{{plan.start_date}}</p>
        <p><b>End Date: </b>{{plan.end_date}}</p>
        <p id="delp"><a id="tname" href ="/travels/{{plan.id}}/join">Join</a></p>
      </div>

      <div class="desarea">

        <h3>Trip Description: </h3>
        <div class="tripinfo">
          <p> {{plan.description}} </p>
          <b>Other users' joining the trip:</b>
          {% for traveler in plan.users.all %}
            <p><a id="tname" href="/portfolio/{{traveler.id}}">{{traveler.first_name}}   {{traveler.last_name}}</a></p>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}

</div>
  </body>
</html>
